@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(2, 176, 231);
  background: linear-gradient(
    90deg,
    rgba(2, 176, 231, 1) 0%,
    rgba(9, 9, 117, 1) 17%,
    rgba(8, 8, 108, 1) 33%,
    rgba(0, 2, 36, 1) 45%,
    rgba(0, 2, 36, 1) 58%,
    rgba(7, 7, 100, 1) 66%,
    rgba(9, 9, 121, 1) 83%,
    rgba(0, 212, 255, 1) 100%
  );
  overflow-x: hidden;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: white;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  color: white;
}

nav {
  position: fixed;
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.herofluid {
  background-image: url(../img/Science-fiction/galaxygif.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100vh;
}
header {
  position: fixed;
  width: 100%;
  z-index: 2;
}
.titre-haut {
  text-align: center;
  color: aliceblue;
  background-color: black;
  background-size: 20%;
  border-radius: 20px;
  border-color: aliceblue;
  border-style: groove;
  margin-top: -100px;
}

.texte-haut {
  color: aliceblue;
}
.bouton1 {
  padding-top: 10%;
}
.nav-item {
  z-index: 3;
  position: fixed;
}
.navbar {
  position: fixed;
}
.titrebouton {
  font-family: sans-serif;
}

tailwind.config.js module.exports = {
  // ...
  plugins: [ // ...
    require("@tailwindcss/forms"),
    ];
}
.boutonhero {
  text-align: center;
  padding-top: 20em;
}

.coverrrr {
  background: rgb(0, 2, 36);
  background: linear-gradient(
    90deg,
    rgba(0, 2, 36, 1) 0%,
    rgba(8, 8, 108, 1) 12%,
    rgba(9, 9, 117, 1) 21%,
    rgba(2, 176, 231, 0.9893207282913166) 51%,
    rgba(9, 9, 121, 1) 80%,
    rgba(7, 7, 100, 1) 90%,
    rgba(0, 2, 36, 1) 100%
  );
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: auto;
}
.formulaire {
  background-color: #00adcc;
  opacity: 1;
  background-image: radial-gradient(circle at center center, #000ac6, #000000),
    repeating-radial-gradient(
      circle at center center,
      #444cf7,
      #444cf7,
      10px,
      transparent 20px,
      transparent 10px
    );
  background-blend-mode: multiply;
}

.bite {
  background-image: url(../img/Science-fiction/matrixxxx.jpg);
  background-size: cover;
  background-position: center;
}
.bite2 {
  background-image: url(../img/Science-fiction/interstellarrrrr.jpg);
  background-size: cover;
  background-position: center;
}
.bite3 {
  background-image: url(../img/Science-fiction/retourrrrrr.jpeg);
  background-size: cover;
  background-position: center;
}
.bite4 {
  background-image: url(../img/Science-fiction/starwarrrrr.webp);
  background-size: cover;
  background-position: center;
}
.bite5 {
  background-image: url(../img/Science-fiction/Action.png);
  background-size: cover;
  background-position: center;
}
.bite6 {
  background-image: url(../img/Science-fiction/horreur.png);
  background-size: cover;
  background-position: center;
}
.bite7 {
  background-image: url(../img/Science-fiction/anime.png);
  background-size: cover;
  background-position: center;
}
.bite8 {
  background-image: url(../img/Science-fiction/Comedie.png);
  background-size: cover;
  background-position: center;
}

.vedette {
}

/*---------------------------------------------------- Caroussel ------------------------------------------------*/
/* CSS Code */
.swiper-wrapper {
  width: 100%;
  height: max-content !important;
  padding-bottom: 64px !important;
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
  color: aliceblue;
}
.swiper-pagination-bullet {
  background: #4f46e5;
}

.vedette {
  text-align: center;
  padding: 20px;
  color: aliceblue;
  padding-top: 20px;
}
.flecheretour {
  font-size: 3rem;
  color: aliceblue;
  position: fixed;
  right: 40px;
  background-color: #4f46e5;
  border-radius: 40px;
  padding: 20px;
  z-index: 8;
}
.slider-button-left {
  color: aliceblue;
  background-color: aliceblue;
}
